<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Личный сайт студента Geek Brains</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="content">
	<div class="header">
		<a href="#">Список ответов</a>
        <a href="create_answer">Создание ответа</a>
        <a href="index.html">Главная</a>
		<a href="puzzle.html">Загадки</a>
		<a href="guess.html">Угадайка</a>
	</div>

	<h1>Список ответов</h1>

    <ul>
        <li>
            {{item.name}} <span>Количество ответов: {{item.answers_count()}}</span>
        </li>
    </ul>

	<div>
		<li><a href="/answers-list/">Список ответов</a></li>
		<li><a href="/create-answer/">Создать ответ</a></li>
	</div>
</div>
<div class="footer">
	Copyright &copy; <?php echo "";?> Anastasiya Tsybusova
<div>

</body>
</html>