<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Личный сайт студента Geek Brains</title>
	<link rel="stylesheet" href="style.css"> 
</head>
<body>

<div class="content">
	<div class="header">
		<a href="#">Главная</a>
		<a href="puzzle.html">Загадки</a>
		<a href="guess.html">Угадайка</a>
	</div>

	<h1>Личный сайт студента Geek Brains</h1>

	<div class="center">
	<img src="img/photo.jpg">
		<div class="box_text">
			<p>Добрый день. Меня зовут Анастасия Цыбусова.<br>
			Я - начинающий программист. Я совсем недавно встала на этот путь, но уже успела написать свой первый сайт.</p>
			<p>В этом мне помог курс <a href="https://geekbrains.ru">Основы программирования</a> образовательного портала Geek Brains.</p>
			<p>На этом сайте Вы сможете сыграть в три игры, которые я написала:<br>
			<br>
			<a href="puzzle.html">Загадки</a>
			<a href="guess.html">Угадайка</a>
			</p>
		</div>
	</div>
</div>
<div class="footer">
	Copyright &copy; <?php echo "";?> Anastasiya Tsybusova
<div>

</body>
</html>