<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Молочные продукты</title>
    <link rel="stylesheet" href="style.css">
    <script type="text/javascript" src="script.js"></script>
    <style>
        td {
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Каталог товаров</h1>
    <h2>Кликните на строку с товаром или на кнопку "Купить"</h2>

    <table id="storage">
        <tr>
            <td>Артикул</td>
            <td>Товар</td>
            <td>Цена</td>
            <td>Объем(мл)/ Вес(г)</td>
            <td>Количество</td>
            <td>Выбор товара</td>
        </tr>
    </table>

    <h2>Корзина</h2>

    <table id="cart">
        <tr>
            <td>Артикул</td>
            <td>Товар</td>
            <td>Объем(мл)/ Вес(г)</td>
            <td>Количество</td>
            <td>Цена</td>
        </tr>
    </table>

    <table id="Totalsum">
        <tr>
            <td>Сумма:</td>
            <td id='sum'>0</td>
        </tr>
    </table>
</body>

</html>